<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>A</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0, 0.0}</string>
				<string>{0.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>B</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,2.0}</string>
			</array>
			<array>
				<string>{2.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,2.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{2.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>C</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,2.0}</string>
				<string>{0.0,3.0}</string>
			</array>
			<array>
				<string>{3.0,0.0}</string>
				<string>{2.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,3.0}</string>
				<string>{0.0,2.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{2.0,0.0}</string>
				<string>{3.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>D</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{1.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{1.0,1.0}</string>
				<string>{0.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,1.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>E</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>F</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{2.0,0.0}</string>
				<string>{2.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,2.0}</string>
				<string>{0.0,2.0}</string>
			</array>
			<array>
				<string>{2.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,2.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>G</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{2.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,2.0}</string>
			</array>
			<array>
				<string>{2.0,1.0}</string>
				<string>{2.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,2.0}</string>
				<string>{1.0,2.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>H</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,2.0}</string>
				<string>{1.0,2.0}</string>
			</array>
			<array>
				<string>{2.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,2.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{2.0,1.0}</string>
				<string>{2.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>I</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,2.0}</string>
			</array>
			<array>
				<string>{2.0,0.0}</string>
				<string>{2.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{0.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,2.0}</string>
				<string>{0.0,2.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{2.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>J</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,2.0}</string>
			</array>
			<array>
				<string>{2.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{1.0,1.0}</string>
				<string>{0.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,2.0}</string>
				<string>{1.0,1.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
				<string>{2.0,0.0}</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>K</string>
		<key>pieces</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{1.0,0.0}</string>
				<string>{1.0,1.0}</string>
				<string>{2.0,1.0}</string>
			</array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{1.0,1.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.0,2.0}</string>
			</array>
			<array>
				<string>{2.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,2.0}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
	</dict>
</array>
</plist>
